<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <arg name="delay" default="0.0" doc="Delay before starting nodes in seconds"/>

    <!-- Cloud filterring -->
    <include file="$(dirname)/../cloud_filter.launch">
        <arg name="input" value="points"/>
        <arg name="output" value="points_filtered"/>
        <arg name="min_depth" value="1.0"/>
        <arg name="max_depth" value="15.0"/>
        <arg name="grid_res" value="0.1"/>
    </include>

    <!-- SLAM -->
    <include file="$(dirname)/../slam.launch">
        <arg name="cloud" value="points"/>
        <arg name="odom_frame" value="odom"/>
        <arg name="delay" value="$(arg delay)"/>
    </include>

    <!-- Path planner -->
    <include file="$(dirname)/planner.launch">
        <arg name="points" value="points_filtered"/>
        <arg name="planning_freq" value="0.2"/>
        <arg name="path_planned" value="path"/>
        <arg name="delay" value="$(arg delay)"/>
    </include>

    <!-- Path follower -->
    <include file="$(dirname)/follower.launch">
        <arg name="path_to_follow" value="path"/>
        <arg name="odom_frame" value="odom"/>
        <arg name="points" value="points_filtered"/>
        <arg name="keep_path" value="1.0"/>
    </include>
</launch>
