<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <arg name="device" default="cuda" doc="Device to run tensor operations on: cpu or cuda"/>
    <arg name="rviz" default="false" doc="Launch RViz for data visualization or not"/>
    <arg name="world" default="$(dirname)/../worlds/farmWith1CropRow.world"/>

    <!-- Gazebo world and spawn Husky robot -->
    <include file="$(dirname)/husky_gazebo.launch">
        <arg name="world_path" value="$(arg world)"/>
    </include>

    <!-- Navigation pipeline -->
    <include file="$(dirname)/launch/navigation.launch" pass_all_args="true"/>

    <!-- RVIZ -->
    <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz"
          args="-d $(find navigation_goals)/config/navigation.rviz"/>
</launch>
