<?xml version="1.0" encoding="utf-8"?>

<launch>
  <arg name="rviz" default="true" doc="Launch RViz for data visualization or not"/>
  <arg name="gui" default="false" doc="Launch Gazebo GUI or not"/>
  <arg name="robot" default="husky" doc="Robot name"/>
  <arg name="world" default="$(dirname)/../worlds/terrain_vegetation.world"/>
  <arg name="engine" default="torch" doc="Using NVIDIA Warp- or Pytorch-based differentiable physics"/>

  <!-- Gazebo world and spawn Husky robot -->
  <include file="$(dirname)/husky_sim.launch">
    <arg name="world" value="$(arg world)"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

  <!-- Launch cloud filter nodelet. -->
  <node name="range_filter" pkg="nodelet" type="nodelet" args="standalone cloud_proc/range_filter">
      respawn="true" respawn_delay="1.0" output="log">
    <rosparam subst_value="true">
        field: x
        min: 0.01
        max: 6.4
    </rosparam>
    <remap from="input" to="points"/>
    <remap from="output" to="points_in_range"/>
  </node>
  <!-- Launch voxel grid filter nodelet. -->
  <node pkg="nodelet" type="nodelet" name="pcl_manager" args="manager" output="screen"/>
  <node pkg="nodelet" type="nodelet" name="voxel_grid" args="load pcl/VoxelGrid pcl_manager" output="screen">
    <remap from="~input" to="/points_in_range"/>
    <remap from="~output" to="/points_downsampled"/>
    <rosparam>
      filter_field_name: z
      filter_limit_min: -1.2
      filter_limit_max: 0.2
      filter_limit_negative: False
      leaf_size: 0.1
    </rosparam>
  </node>

  <!-- Publish tf 'base_footprint' as pose.-->
  <node pkg="elevation_mapping_demos" type="tf_to_pose_publisher.py" name="husky_pose_publisher">
    <param name="from_frame" type="string" value="map"/>
    <param name="to_frame" type="string" value="base_footprint"/>
  </node>

  <!-- Launch elevation mapping node. -->
  <node pkg="elevation_mapping" type="elevation_mapping" name="elevation_mapping" output="screen">
    <rosparam command="load" file="$(dirname)/../config/elevation_mapping/robots/husky.yaml"/>
    <rosparam command="load" file="$(dirname)/../config/elevation_mapping/postprocessing/postprocessor_pipeline.yaml"/>

    <remap from="elevation_mapping/elevation_map_raw" to="grid_map/terrain"/>
  </node>

  <!-- SLAM -->
  <include file="$(dirname)/slam.launch">
    <arg name="cloud" value="points"/>
  </include>

  <!-- Differentiable Physics -->
  <include if="1" file="$(find monoforce)/launch/dphysics.launch">
    <arg name="engine" value="$(arg engine)"/>
    <arg name="robot" value="husky"/>
    <arg name="gridmap_topic" value="grid_map/terrain"/>
    <arg name="gridmap_layer" value="elevation_inpainted"/>
    <arg name="max_age" value="1.0"/>
  </include>

  <!-- Path selector -->
  <include if="1" file="$(dirname)/path_selector.launch">
    <arg name="input_paths" value="sampled_paths"/>
    <arg name="input_path_costs" value="path_costs"/>
    <arg name="output_path" value="selected_path"/>
    <arg name="waypoints_list" value="[
                                       [10, -5, 0, 0, 0, 0, 1],
                                       [10, 5, 0, 0, 0, 0, 1],
                                       [0, 5, 0, 0, 0, 0, 1],
                                       [0, -5, 0, 0, 0, 0, 1],
                                       [0, 0, 0, 0, 0, 0, 1],
                                       ]"/>
    <arg name="waypoint_weight" default="1.0"/>
    <arg name="path_force_weight" default="2.0"/>
    <arg name="map_frame" value="map"/>
  </include>

  <!-- Path follower -->
  <include if="1" file="$(dirname)/naex/follower.launch">
    <arg name="path_to_follow" value="selected_path"/>
    <arg name="max_age" value="10.0"/>
    <arg name="map_frame" value="map"/>
    <arg name="keep_path" value="2.0"/>
  </include>

  <!-- Launch RViz with the demo configuration. -->
  <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(dirname)/../config/rviz/monoforce.rviz"/>

</launch>