<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <arg name="rviz" default="true" doc="Launch RViz for data visualization or not"/>
    <arg name="gui" default="false" doc="Launch Gazebo GUI or not"/>
<!--     <arg name="world" default="$(dirname)/../worlds/farmWith1CropRow.world"/> -->
<!--    <arg name="world" default="$(dirname)/../worlds/simcity.world"/>-->
<!--    <arg name="world" default="$(dirname)/../worlds/simcity_dynamic.world"/>-->
   <arg name="world" default="$(dirname)/../worlds/emptyfarm.world"/>-->
<!--     <arg name="world" default="$(dirname)/../worlds/rubicon.world"/> -->
   <arg name="lss_debug" default="false"/>

    <!-- Gazebo world and spawn Husky robot -->
<!--     <include file="$(dirname)/husky_gazebo.launch"> -->
<!--         <arg name="world" value="$(arg world)"/> -->
<!--         <arg name="gui" value="$(arg gui)"/> -->
<!--     </include> -->

    <!-- Inspection world and spawn Husky robot -->
    <include file="$(dirname)/husky_inspection_world.launch">
        <arg name="gui" value="$(arg gui)"/>
    </include>

    <!-- LSS input data recording -->
    <include file="$(dirname)/record.launch">
        <arg name="topics" value="'/realsense_front/color/image_raw/compressed'
                                  '/realsense_left/color/image_raw/compressed'
                                  '/realsense_right/color/image_raw/compressed'
                                  '/realsense_rear/color/image_raw/compressed'
                                  '/realsense_front/color/camera_info'
                                  '/realsense_left/color/camera_info'
                                  '/realsense_right/color/camera_info'
                                  '/realsense_rear/color/camera_info'
                                  '/points'
                                  '/tf' '/tf_static'"/>
        <arg name="path" value="$(dirname)/lss_input.bag"/>
    </include>

    <!-- RViz -->
    <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(dirname)/../config/lss.rviz"/>
</launch>
