<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <arg name="device" default="cuda" doc="Device to run tensor operations on: cpu or cuda"/>
    <arg name="rviz" default="false" doc="Launch RViz for data visualization or not"/>
    <arg name="sim_time" default="true"/>
    <arg name="use_osm" default="false"/>
    <arg name="follower" default="true"/>
    <arg name="bumper" default="true"/>
    <arg name="traversability" default="semantic" doc="Traversability estimation type: 'semantic or geometric'"/>
    <arg name="gpx_assignment" default="$(find gps_to_path)/data/unhost_easy.gpx"/>

    <param name="use_sim_time" value="$(arg sim_time)"/>

<!--    <node pkg="tf" type="static_transform_publisher" name="gps_frame_broadcaster"-->
<!--          args="0 0 0   0 0 0 1 base_link gps 100" />-->
<!--    <node pkg="tf" type="static_transform_publisher" name="map_frame_broadcaster"-->
<!--          args="0 0 0   0 0 0 1 map odom 100" />-->
<!--    <node pkg="tf" type="static_transform_publisher" name="utm_frame_broadcaster"-->
<!--          args="0 0 0   0 0 0 1 map utm 100" />-->
<!--    <node pkg="tf" type="static_transform_publisher" name="utm_frame_broadcaster"-->
<!--          args="-437998.7931613073 -5549045.722476885 0 0 0 0 1 map utm 100" />-->

    <!-- IMU and Magnetometer to azimuth data -->
    <node pkg="navigation_goals" type="imu_to_mag_azimuth" name="imu_to_mag_azimuth"/>
<!--    <node pkg="gps_to_path" type="mag_field_to_azimuth" name="mag_field_to_azimuth" output="screen">-->
<!--        <rosparam subst_value="true">-->
<!--            imu_link: 'imu_link'-->
<!--            robot_link: 'base_link'-->
<!--            x_mean: 0.0-->
<!--            y_mean: 0.0-->
<!--            z_mean: 0.0-->
<!--        </rosparam>-->
<!--    </node>-->

    <!-- Traversability estimation -->
    <include file="$(find traversability_estimation)/launch/$(arg traversability)_traversability.launch">
        <arg name="cloud" value="points"/>
    </include>

    <!-- Path planner -->
    <node pkg="topic_tools" type="relay" name="semantic_trav_relay" args="cloud_segmentation/points traversability/points" />
    <node pkg="topic_tools" type="relay" name="geometric_trav_relay" args="geometric_traversability_raw traversability/points" />
    <include file="$(dirname)/path_planner.launch">
        <arg name="use_osm" value="$(arg use_osm)"/>
        <arg name="cloud" value="traversability/points"/>
        <arg name="gpx_assignment" value="$(arg gpx_assignment)"/>
    </include>

    <!-- Path follower -->
    <include if="$(arg follower)" file="$(find gps_to_path)/launch/follower.launch">
        <arg name="path" value="path"/>
        <arg if="$(arg bumper)" name="cmd_vel" value="nav/cmd_vel"/>
        <arg unless="$(arg bumper)" name="cmd_vel" value="/cmd_vel"/>
        <arg name="allow_backward" value="true"/>
        <arg name="max_speed" value="0.5"/>
    </include>

    <!-- Local obstacle avoidance -->
    <node pkg="topic_tools" type="relay" name="semantic_bumper_relay" args="cloud_segmentation/points_20cm points_filtered" />
    <node pkg="topic_tools" type="relay" name="geometric_bumper_relay" args="max_points_125mm points_filtered" />
<!--     <node pkg="topic_tools" type="relay" name="bumper_relay" args="points points_filtered" />-->
    <node if="$(arg bumper)"
          name="virtual_bumper" pkg="augmented_robot_trackers" type="virtual_bumper_marv_sys.py"
          respawn="true" respawn_delay="1.0" output="screen">
        <rosparam command="load" file="$(find augmented_robot_trackers)/src/utilities/configs/virtual_bumper_husky_sys.yaml"/>
        <remap from="cmd_vel_in" to="nav/cmd_vel"/>
        <remap from="cmd_vel_out" to="/cmd_vel"/>
    </node>

    <!-- RVIZ -->
    <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz"
          args="-d $(find navigation_goals)/config/navigation.rviz"/>
</launch>
